@import url(//db.onlinewebfonts.com/c/e3e3a81b2544f4508a75573a04e0cafa?family=ITC+Korinna);
/* @import url(//db.onlinewebfonts.com/c/ca04e9de21ea3edb850bf0536d14679f?family=Swiss+911); */
@import url(//db.onlinewebfonts.com/c/6a891befed317fa85014538362250762?family=Swiss+911);


:root {
  --boardWidth: 80vw;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
  background-color: black;
  color: white;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
  font-family: "ITC Korinna";
}

.bigCardAnimation-enter {
  opacity: 0;
  transition: opacity 200ms;
}
.bigCardAnimation-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.bigCardAnimation-exit {
  opacity: 1;
  transition: opacity 200ms;
}
.bigCardAnimation-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}